<div class="item-box" tabindex="0">
  <div class="item-edit-checkbox-container">
    <div class="item-edit-checkbox">
      <label>
        <input type="checkbox"/>
        <span class="checkbox-description hidden-text-for-accessibility"></span>
      </label>
    </div>
  </div>
  <div class="item-image-container">
    <div class="item-image"></div>
  </div>
  <div class="item-description-container">
    <h2 class="item-title"></h2>
    <div class="item-description"></div>
    <div class="item-quantity"></div>
    <div class="item-price-container">
      <div class="item-price-inner-container">
        <div class="item-price"></div><div class="item-price-converted-indicator">*</div>
      </div>
      <div class="item-shipping"></div>
      <div class="item-reserve-not-met"></div>
      <div class="item-feedback-action"></div>
    </div>
    <div class="item-info-container">
      <div class="item-bids"></div>
      <div class="item-action-one"></div>
      <div class="item-buyer"></div>
      <div class="item-watchers"></div>
      <div class="item-time"></div>
      <div class="item-scheduled-date"></div>
      <div class="item-scheduled-time"></div>
    </div>
  </div>
</div>
