<div class="notification-item-box" tabindex="0">
  <div class="notification-item-image-container">
    <div class="notification-item-image"></div>
  </div>
  <div class="notification-item-close">
    <div class="notification-item-close-button-outer">
      <button class="notification-item-close-button image-button"
        title="i18n[notification.item.close]"></button>
    </div>
  </div>
  <div class="notification-item-new-indicator">
  </div>
  <div class="notification-item-description-container">
    <div class="notification-item-description-inner-container">
      <h2 class="notification-item-title item-title"></h2>
      <div class="notification-item-description"></div>
      <div class="item-time-container">
        <div class="item-time-label" rel="i18n[general.ends.in]"></div>
        <div class="item-time"></div>
      </div>
    </div>
  </div>
</div>
