<div>
  <div id="panel-watching-loading" class="tab-watching">
    <div class="panel-loading-spinner"></div>
  </div>
  <div id="panel-watching-empty">
    <img class="panel-watching-empty-image" src="../skin/core/img/watching-empty.png"
      alt="i18n[empty.watching.glasses.alt]"></img>
    <h2 class="panel-watching-empty-text" rel="i18n[empty.watching.description]"></h2>
    <button id="panel-watching-empty-button" data-update-tooltip="true" class="secondary-button">
      <div rel="i18n[empty.shop.link]"></div>
    </button>
  </div>
  <div id="panel-watching-main">
    <div id="panel-watching" class="item-list-box">
      <div id="panel-watching-dock-header-box" class="item-list-box-dock-header-box">
        <div id="item-list-watching-dock-edit-header" class="item-list-box-edit-header">
          <a href="#" id="item-list-watching-dock-edit" class="item-list-edit">
            <span rel="i18n[list.action.edit]" tabindex="0"></span>
          </a>
          <a href="#" id="item-list-watching-dock-refine" class="item-list-refine">
            <span rel="i18n[list.action.refine]" tabindex="0"></span>
          </a>
        </div>
        <div id="item-list-watching-dock-cancel-header" class="item-list-box-cancel-header">
          <a href="#" id="item-list-watching-dock-cancel" class="item-list-edit-cancel">
            <span rel="i18n[list.action.cancel]" tabindex="0"></span>
          </a>
        </div>
      </div>
      <div id="panel-watching-float-header-box" class="item-list-box-float-header-box">
        <div id="item-list-watching-float-edit-header" class="item-list-box-edit-header">
          <a href="#" id="item-list-watching-float-edit" class="item-list-edit">
            <span rel="i18n[list.action.edit]" tabindex="0"></span>
          </a>
          <a href="#" id="item-list-watching-float-refine" class="item-list-refine float-refine">
            <span rel="i18n[list.action.refine]" tabindex="0"></span>
          </a>
        </div>
        <div id="item-list-watching-float-cancel-header" class="item-list-box-cancel-header">
          <a href="#" id="item-list-watching-float-cancel" class="item-list-edit-cancel">
            <span rel="i18n[list.action.cancel]" tabindex="0"></span>
          </a>
        </div>
      </div>
      <div id="panel-watching-list"></div>
    </div>
    <div id="panel-watching-converted-currency-note" class="panel-converted-currency-note"
      rel="i18n[list.converted.currency.note]"></div>
    <div id="panel-watching-lazy-loading" class="lazy-loading">
      <div class="panel-loading-spinner panel-lazy-loading-spinner"></div>
    </div>
  </div>
  <div id="panel-watching-buttons-container">
    <div class="panel-watching-buttons-inner-container">
      <button id="panel-watching-delete-button" data-update-tooltip="true" class="primary-button">
        <div rel="i18n[list.action.delete]"></div>
      </button>
    </div>
  </div>
</div>
