<div>
  <div id="panel-notification-loading" class="tab-notification">
    <div class="panel-loading-spinner"></div>
  </div>
  <div id="panel-notification-empty">
    <div id="panel-notification-empty-inner">
      <img class="panel-notification-empty-image" src="../skin/core/img/notification-empty-2.png"
        alt="i18n[empty.notification.bell.alt]"></img>
      <h2 class="panel-notification-empty-text-top" rel="i18n[empty.notification.description.1]"></h2>
      <div class="panel-notification-empty-text-bottom" rel="i18n[empty.notification.description.2]"></div>
    </div>
    <div id="panel-notification-deals">
      <div class="panel-notification-deals-container item-list-box">
        <a href="#" id="panel-notification-deals-link" data-update-tooltip="true">
          <div class="panel-notification-deals-inner-container" tabindex="0">
            <img class="panel-notification-deals-left-image"
              src="../skin/core/img/notification-deal-left.png"></img>
            <img class="panel-notification-deals-right-image"
              src="../skin/core/img/notification-deal-right.png"></img>
            <div class="panel-notification-deals-bottom-box">
              <h2 rel="i18n[empty.notification.deals.link]"></h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div id="panel-notification-main">
    <div class="panel-notification-main-content"></div>
  </div>
</div>
