<div>
  <div class="refine-header">
    <h1 rel="i18n[list.action.refine]"></h1>
    <a href="#" id="refine-cancel">
      <span rel="i18n[list.action.cancel]"></span>
    </a>
  </div>
  <div id="refine-main">
    <div class="refine-sort-by-header">
      <h3 rel="i18n[list.refine.sortBy]"></h3>
    </div>
    <div id="refine-sort-by-list"></div>
    <div class="refine-filter-by-header">
      <h3 rel="i18n[list.refine.filterBy]"></h3>
    </div>
    <div id="refine-filter-by-list"></div>
  </div>
  <div class="refine-buttons-container">
    <div class="refine-buttons-inner-container">
      <button id="refine-apply" class="primary-button">
        <div rel="i18n[list.action.apply]"></div>
      </button>
      <button id="refine-reset" class="secondary-button">
        <div rel="i18n[list.action.reset]"></div>
      </button>
    </div>
  </div>
</div>
