<div>
  <div class="search-tab-container">
    <div class="search-tab-main-container">
      <a href="#" id="search-tab-recent-searches" class="search-tab-item tab-item-text">
        <span class="search-tab-recent-searches-access-label hidden-for-accessibility"></span>
        <h1 class="tab-item-label" rel="i18n[sidebar.recent.searches]" tabindex="0"></h1>
        <div class="bottom-line">
          <div class="bottom-line-inner first"></div>
        </div>
      </a>
      <a href="#" id="search-tab-followed-searches" class="search-tab-item tab-item-text">
        <span class="search-tab-followed-searches-access-label hidden-for-accessibility"></span>
        <h1 class="tab-item-label" rel="i18n[sidebar.followed.searches]" tabindex="0"></h1>
        <div class="bottom-line">
          <div class="bottom-line-inner last"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="search-panels" id="search-panel-container">
    <div id="search-panel-recent-searches-content" class="search-panel-content">
      <div id="search-panel-recent-searches-empty">
        <h4 class="search-container-empty-title" rel="i18n[sidebar.recent.searches.empty.title]">
        </h4>
        <div class="searches-container-empty-description"
          rel="i18n[sidebar.recent.searches.empty.description]">
        </div>
      </div>
      <div id="search-panel-recent-searches-main">
      </div>
      <a href="#" id="recent-searches-clear-link" data-update-tooltip="true"
        class="hover-underline">
        <div class="search-content-block-clear-item" tabindex="0"
          rel="i18n[sidebar.clear.recent.searches]"></div>
      </a>
    </div>
    <div id="search-panel-followed-searches-content" class="search-panel-content">
      <div id="search-panel-followed-searches-empty">
        <h4 class="search-container-empty-title" rel="i18n[sidebar.followed.searches.empty.title]">
        </h4>
        <div id="followed-searches-empty-description" class="search-container-empty-description">
        </div>
      </div>
      <div id="search-panel-followed-searches-main">
      </div>
      <a href="#" id="followed-searches-edit-link" data-update-tooltip="true"
        class="hover-underline">
        <div class="search-content-block-clear-item" tabindex="0"
          rel="i18n[sidebar.followed.searches.edit]"></div>
      </a>
    </div>
  </div>
</div>
